@font-face {
    font-family: roboto-regular;
    src: url(./fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: roboto-bold;
    src: url(./fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: roboto-light-italic;
    src: url(./fonts/Roboto-LightItalic.ttf);
}

* {
    font-family: roboto-regular;
}

.header {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-family: roboto-bold;
}

.header,
.hero-main{
    padding-left: 300px;
    padding-right: 300px;
}

.hero-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding-top: 100px;
    padding-bottom: 100px;
    color: white;
}

.hero-vert {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.header-hero {
    font-size: 48px;
    font-family: roboto-bold;
    color: #F9FAF8;
    max-height: 40px;
    margin: 0;
}

.secondary-text-hero {
    color: #E5E7EB;
    max-width: 500px;
}

.hero-img {
    height: 300px;
    width: 655px;
}

.showcase {
    padding-bottom: 100px;
}
.header-showcase {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 36px;
    font-family: roboto-bold;
    color: #1F2937;
}

.info-panel {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 48px;
}

.info {
    max-width: 200px;
}

.icon {
    height: 180px;
    width: auto;
}

.icon-text {
    color: #44464a;
}

.quote {
    background-color: #E5E7EB;
    padding-top: 100px;
    padding-bottom: 80px;
}

.header-quote {
    font-family: roboto-light-italic;
    font-size: 36px;
    color: #1F2937;
    text-align: center;
    margin-left: 450px;
    margin-right: 450px;
    margin-bottom: 40px;
}

.quote-author {
    margin-left: 1200px;
    font-size: 24px;
}

button {
    max-width: 120px;
    height: 38px;
    background-color: #3882F6;
    color: white;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    font-family: roboto-bold;
}

ul {
    display: flex;
    gap: 25px;
}

a {
    color: lightgray;
    font-size: 18px;
    text-decoration: none;
}

p {
    font-size: 18px;
}